*{
  margin: 0;
  padding: 0;
}
.evento img{
  width: 500px;
  border-radius: 30px;
}
.galeria img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.galeria{
  display: flex;
  flex-wrap: wrap; /*quebra linha quando chega no final da página*/
  padding: 30px 80px;
  justify-content: center;
  gap: 10px;
}
.evento{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}
header{
  background-color: rgb(19, 19, 167);
  padding: 20px 80px;
}
header img{
  width: 120px;
}
footer{
  background-color: rgb(19, 19, 167);
  color: white; 
  display: flex;
  justify-content: center;
}

@media screen and (max-width:600px){
  header{
    display: flex;
    justify-content: center;
  }
  .evento{
    flex-direction: column;
    gap: 30px
  }
  .evento img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .galeria{
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .galeria img{
    width: 70vw;
    height: 300px;
    object-fit: cover;
  }
}
